.switchUser-wrapper {
    background-color: #f2f2f7;
    min-height: 100vh;
    // height: 100vh;
    padding: 24px;
    box-sizing: border-box;
    .switchUser-content {
        display: flex;
        justify-content: center;
        &__box {
            width: 560px;
            text-align: center;
            @media all and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

.userType-box {
    padding: 40px 34px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgb(16 25 40 / 10%);
    cursor: pointer;
    margin-bottom: 30px;
    @media all and (max-width: 768px) {
        // width: 100%;
    }
}